
.İllüstrasyon-1-hex { color: #F25260; }
.İllüstrasyon-2-hex { color: #D9626B; }
.İllüstrasyon-3-hex { color: #36BFB1; }
.İllüstrasyon-4-hex { color: #590202; }
.İllüstrasyon-5-hex { color: #F2F2F2; }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
}
#root{
  background-color: blue;
  width: 500px;
  margin: 3rem auto;
  border-radius: 20px;
  padding: 3rem;
  
}
body{
  background-color: #F25260;
}
.header{
  font-size: 2rem;
  color: red;
  margin-bottom: 1rem;
}
button{
  background-color:#590202;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
input{
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #36BFB1;
}
#save{
  background-color:#590202;
}
label{
  font-size: 2rem;
  padding: 0.5rem;
  color:chartreuse;

}
.yy{
  border-bottom: 2rem;
  background-color: #D9626B;
  margin: 0.7rem;
  border-radius: 10px;
  box-shadow: 3px 3px 10px greenyellow;
}
